<h1>Contact us!</h1>
<div class="row">
    <form action="/contact" method="post">
        <div class="row">
            <div class="input-field">
                <input type="text" name="name">
                <label for="name">name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" name="fiance">
                <label for="fiance">fiance's name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="email" name="email">
                <label for="email">email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" name="source">
                <label for="source">Where did you hear about us?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" name="date">
                <label for="date">Wedding Date</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" name="location">
                <label for="location">Venue Location</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" name="budget">
                <label for="budget">Wedding Video Budget</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Other details:</h5>
                <textarea name="details"></textarea>
            </div>
        </div>
        <input type="submit" value="submit" class="btn">
    </form>
</div>