<h2>Contact 1.0</h2>
<a href="/contact">Add a submission</a>

<ul>
    <li><a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login with Google</a></li>
    <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
</ul>