<h1>Create template</h1>
<div class="row">
    <form action="/template" method="post">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title">
                <label for="title">title</label>
            </div>
        </div>        
        <div class="row">
            <div class="input-field">
                <h5>Other details:</h5>
                <textarea name="body"></textarea>
            </div>
        </div>
        <input type="submit" value="submit" class="btn">
    </form>
</div>